<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClMIrfJXxQrC08i-qP0YNlODhOufCBe4s</string>
	<key>GCM_SENDER_ID</key>
	<string>183792762346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covoiturage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>covoiturage-1dc44</string>
	<key>STORAGE_BUCKET</key>
	<string>covoiturage-1dc44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183792762346:ios:dcd55939caf7f2423bc693</string>
</dict>
</plist>